on:
    workflow_dispatch:
        inputs:
            enviroment:
                description: "Choose one"
                required: true
                default: "staging"
                type: choice
                options:
                    - staging
                    - prod
                    - test
        
        

jobs:
    deoply:
        runs-on: ubuntu-latest
        steps:
            - name: Deploy app
              run: echo "Deploying App"
